@use "sass:color";
@use "./variables"as var;
@import "mixin";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: var.$black;
  background-color: var.$white;
  @include text-md-regular;
  font-family: var.$body-font-family;

  &:before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
    transition: opacity 0.9s ease-in-out;
    visibility: hidden;
    opacity: 0;
    backdrop-filter: blur(4px);
  }

  &.overflow-hidden:before {
    @media screen and (max-width: 1199px) {
      opacity: 1;
      visibility: visible;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

*:focus-visible {
  outline: none;
}

.primaryText {
  color: var.$primary-color;
}

.grayText {
  color: var.$gray-600;

  @include text-md-regular;


  @media screen and (min-width: 1200px) and (max-width: 1720px) {
    font-size: 15px;

  }

  @media screen and (max-width: 1199px) {
    @include text-sm-regular;

  }
}

p {
  @include text-md-regular;
}

.btn {
  @include text-md-medium;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 18px;
  box-shadow: none !important;
  transition: all 0.3s ease-in-out;

  @media screen and (min-width: 1200px) and (max-width: 1720px) {
    padding: 14px 18px;
    font-size: 15px;
  }

  @media screen and (max-width: 1199px) {
    font-size: 14px;
  }


  @media screen and (max-width: 1199px) {
    padding: 11px 16px;
  }

  &.allBtn {
    height: 36px;
    padding: 8px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    margin: 0;
    font-weight: 400;

    &.btn-primary {
      background: var.$primary-color;
      color: var.$white;
      padding: 8px 20px;

      &:hover,
      &:focus {
        background-color: var.$secondary-color;
        color: var.$primary-color;
        border-color: var.$secondary-color;
      }
    }

    &.btn-secondary {
      background: transparent;
      color: var.$primary-color;
      border: 1px solid #0f3549;
    }
  }
}

.btn-primary {
  background-color: var.$primary-color;
  color: var.$white;

  &:hover,
  &:focus {
    background-color: var.$primary-hover-color;
  }
}

.title {
  color: var.$primary-color;
  @include text-xs-medium;
}

.subText {
  @include text-sm-regular;

  strong {
    font-weight: 600;
  }
}

.smallTitle {
  @include text-xs-regular;
}

.fa-pen {
  color: var.$gray-500;
  font-size: 13px;
}

.all-btn {
  background: var.$primary-color;
  color: var.$white;
  padding: 8px 12px;
  border-radius: 4px;
  @include text-sm-semibold;
  min-width: 74px;
  margin: 0;

  &:hover {
    color: var.$white;
  }

  @media screen and (max-width:1199px) {
    @include text-xs-medium;
    padding: 7px 12px;

  }
}

.modal-title {
  span {
    @include text-md-regular;
    color: #5fa8c1;
  }
}

.whiteBtn {
  padding: 8px 12px !important;
  color: var.$white !important;
  display: flex;
  gap: 5px;
}

.width-all-100 {
  @media screen and (max-width: 991px) {
    width: 100%;
  }
}

.width-all-100-md {
  @media screen and (max-width: 767px) {
    width: 100%;
  }
}

.width-all-100-sm {
  @media screen and (max-width: 575px) {
    width: 100%;
  }
}

.global-flex-md {
    @media screen  and (max-width: 991px) {
   flex: 1;
  }
}