$white:    #FFFFFF !default;

/* Fonts settings */
$body-font-family: 'Sora', sans-serif;
$heading-font-family: 'Sora', sans-serif;

/* Colors */
$primary-color: #0F3549;
$secondary-color: #FFDC46;
$cta-color: #0F3549;


/* font colors */
$black: #000000;
$white-200: #f2f2f2;
$gray-600: #656565;
$yellow-300: #FFFBDD;
$gray-50: #F6F6F6;
$gray-100: #F1F1F1;
$gray-200: #DCDCDC;
$gray-300: #BDBDBD;
$gray-400: #989898;
$gray-500: #7c7c7c;
$gray-700: #525252;
$gray-800: #464646;
$gray-950: #292929;
$red-700: #CF0606;
$dark-gray: #333333;
$base-green: #10A957;
$black-500: #0D141C;

/* border colors */
$border-color: #f2f2f2;
$input-border: #CFDBE8;
$border-form-color: #DBDBDB;

/* transition */
$transition-animate: all ease 0.4s;

/* important */
$i: unquote("!important");