@mixin text-xs-regular {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}

@mixin text-xs-medium {
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
}

@mixin text-xs-semibold {
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
}

@mixin text-size-13 {
    font-size: 13px;
    line-height: 18px;
}

@mixin text-sm-regular {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

@mixin text-sm-medium {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}

@mixin text-sm-semibold {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
}

@mixin text-md-regular {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

@mixin text-md-medium {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}

@mixin text-md-semibold {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}

@mixin text-lg-medium {
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
}

@mixin display-xs-medium {
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
}

@mixin display-sm-semibold {
    font-size: 30px;
    line-height: 38px;
    font-weight: 600;
}

